arrow==0.15.1
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
idna==2.6
numpy==1.14.2
pbr==4.0.2
python-dateutil==2.7.2
python-editor==1.0.3
requests==2.18.4
six==1.11.0
stevedore==1.28.0
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
virtualenvwrapper-win==1.2.5

